ssgs_lang=es
ssgs_style=https://ricardogj08.github.io/blog/markdown.css
ssgs_url=https://ricardogj08.github.io/blog/
ssgs_title='La bitácora de un Ñu'
ssgs_subtitle='GNU/Linux, software libre, programación y servidores'
ssgs_navbar='personal/acerca-de-mi personal/contacto'
ssgs_all_posts='&#x1F4CC; Artículos publicados'
ssgs_new_posts='&#x1F4E3; Últimos artículos'
ssgs_feed='&#x1F514; Feed'
ssgs_posts=10
ssgs_license='Copyright &copy; 2021-2022 - Ricardo García Jiménez<br>El contenido de este sitio web se distribuye bajo una <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/deed.es" target="_blank">Licencia Creative Commons Atribución-CompartirIgual 4.0 Internacional</a>'
